header,
footer,
.mainContainer .mainSliderBox, 
footer > div > p:first-of-type,
footer > div:last-child,
.mainContainer .travelList,
.mainContainer .expList,
.tabBox,
.destination,
#sitemapPanel,
.airplanebox,
.funnystory,
.moreBox,
.detailContainer,
.travel,
.experience,
.loadMapContainer,
.top_menucontainer,
.allvideoContainer,
#confirmPopup{
    font-family: "Noto Sans KR";
}
footer > div > p:last-of-type{
    font-family: "Open Sans KR";
}
#sitemapPanel h2,
.circlebox .speed{
    font-family: "Montserrat";
}
[id$='Panel']{  
    opacity: 0; height: 0; overflow: hidden; transition: all 0.5s ease-in-out; 
}
[id$='Panel'].active{
    overflow-x: hidden; height: 450px; opacity: 1; transition: all 0.5s ease-in-out;
}
.bx-wrapper{
    box-shadow: none;
    border: none;
    background: #fff;
}

.listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev{
    background-image: url("../images/leftarrow.png");
    padding: 30px; color: white; background-color: transparent;
    border-radius: 50%; background-size: 30px;
    border: 5px solid white; background-position: center;
}
.listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next{
    background-image: url("../images/rightarrow.png");
    padding: 30px;
    left: 220px; background-size: 30px; background-color: transparent;
    border: 5px solid white; border-radius: 50%; background-position: center;
}

@media screen and (max-width: 767px){

    .mainContainer .bx-wrapper  img{
        width: 100%; filter: brightness(0.8); 
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a{
        position: absolute; left: 66%; top: 150px;
        background-repeat: no-repeat; z-index: 1; 
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/leftarrow.png"); padding: 5px; color: white;
        background-color: transparent; border-radius: 50%; background-size: 20px;
        border-radius: 50%; border: 3px solid white; background-position: center;
        
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/rightarrow.png"); padding: 5px; color: white;
        background-color: transparent; border-radius: 50%; background-size: 20px;
        border-radius: 50%; border: 3px solid white; background-position: center;
        left: 80%;
    }

    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a{
        position: absolute; left: 65%; top: 170px; 
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/leftarrow.png");
        padding: 5px; background-color: transparent;
        border-radius: 50%; background-size: 20px;
        border: 3px solid white; background-position: center;
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/rightarrow.png");
        padding: 5px;
        left: 80%; background-size: 20px; background-color: transparent;
        border: 3px solid white; border-radius: 50%; background-position: center;
    }
    /* fin */
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction{
        position: absolute; top: 210px; margin: 0 auto; width: 100%;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/arrow_back_ios_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; background-size: 30px; background-position: center;
        left: 30%;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/arrow_forward_ios_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; background-size: 30px; background-position: center;
        left: 67%;
    }
    .bx-wrapper .bx-pager{
        font-size: 16px; position: absolute; left: 4%; top: 184px;
    }
    /* slide fin */
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a{
        display: block; position: relative; 
        background-position: center; 
    }
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction{
        display: block; position: absolute; right: 55px; top: 430px;
    }   
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/arrow_back_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; padding: 10px; background-size: 30px;
        border: 1px solid #f2f2f2; border-radius: 50%; background-color: #f2f2f2;
        position: absolute; text-indent: -9999px; left: -50px;
    } 
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; padding: 10px; background-size: 30px;
        border: 1px solid #f2f2f2; border-radius: 50%; background-color: #f2f2f2;
        text-indent: -9999px; position: absolute; left: 10px;
    }

    .mainPage{
        background: url('../images/footer_moblie.png') left bottom / contain no-repeat;
        width: 100%; 
    }
    .subBG{
        background: url("../images/footer_moblie.png") left bottom / contain no-repeat;
        width: 100%;
    }
    .guide{
        max-width: 260px; margin: 0 auto;
    }
    .Container{
        max-width: 260px; margin: 0 auto;
    } 
    .listContainer > *:not(.mainSliderBox){
        max-width: 260px; margin: 0 auto;
    }
    .detailContainer > *:not(:first-child){
        max-width: 260px; margin: 0 auto;
    }
    .loadMapContainer > *:not(:first-child){
        max-width: 260px; margin: 0 auto;
    }
    .top_menucontainer > *:not(:first-child){
        max-width: 260px; margin: 0 auto;
    }
    .allvideoContainer > *:not(:first-child){
        max-width: 260px; margin: 0 auto;
    }
    header,footer{
        max-width: 260px;
        position: relative;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
    }
    #sitemapPanel{
        position: fixed; z-index: 10; 
    }
    #sitemapPanel > div{
        background-color: black; opacity: 0.8;
        padding: 30px 3.3%;
    }
    #sitemapPanel h2{
        font-weight: 600; font-size: 20px;
        color: #fff; margin-bottom: 20px;
    }
    #sitemapPanel [type="button"]{ 
        position: absolute; right: -0; top: 25px;
        text-indent: -9999px; border: 1px solid white;
        border-radius: 23px; width: 44px;
        height: 44px;
        background: url("../images/close_FILL0_wght400_GRAD0_opsz24.png") center / 24px no-repeat #fff;
        background-repeat: no-repeat;
        margin-right: 15px;
    }
    #sitemapPanel div ul li{
        display: block;
        padding-bottom: 20px;  
    }
    #sitemapPanel div ul li a{
        color: #fff; display: block;
        font-size: 14px; font-weight: 700;
        width: 100%;
    }
    header{
        position: fixed; width: 97%;
        left: 3.7%; padding: 30px 0;
        z-index: 1;
    }
    header h1{
        max-width: 50px;
        filter: drop-shadow(3px 2px 2px black);
        margin-right: 50px;
    }
    header h1 a{
        display: block; 
    }
    header h1 a img{
        width: 100%;
    }
    header nav{
        position: absolute;
        left: 41%; top: 30px; 
        width: calc(100% - 50px);
    }
    header nav ul{
        text-align: right; 
    }
    header nav ul li{
        display: inline-block; 
    }
    header nav ul li:not(:first-child){
        margin-left: 7%;
    }
    header nav ul li a{
        color: white; font-size: 14px;
        text-shadow: 3px 4px 2px black;   
    }
    header nav ul li input[type='button']{
        background-color: transparent; border: none; color: white;
        filter: drop-shadow(3px 2px 2px black);
    }
/*header fin  */
    footer{
      padding: 60px 0 30px 0; width: 100%;
    }
    footer > a{
        position: absolute; right: -20px;  
        width: 44px; height: 44px;
        text-indent: -9999px;
        border: 1px solid white;
        border-radius: 23px;
        background: url("../images/arrow_upward_FILL0_wght400_GRAD0_opsz24.png") center / 24px no-repeat #fff;
    }
    footer > div h2{
        max-width: 180px;
        margin-bottom: 20px;
    }
    footer > div h2 img{
        width: 100%; 
    }
    footer > div > p{
        font-family: 700;
        color: white;
        opacity: 0.5;
    }
    footer > div > p:first-of-type{
        font-size: 12px;
        line-height: 15px;
    }
    footer > div > p:last-of-type{
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 20px;
    }
    footer > div:first-of-type > a{
        display: inline-block; width: 100%; max-width: 40%; height: 40px; margin-bottom: 20px;
    }
    footer > div:first-of-type > a:first-of-type{
        background-image: url("../images/footer_google_play_badge.png");
        background-size: contain;
        background-repeat: no-repeat; text-indent: -9999px;
        padding-right: 2%;
    }
    footer > div:first-of-type > a:last-of-type{
        background-image: url("../images/footer_app_store.svg");
         background-size: contain;
        background-repeat: no-repeat; text-indent: -9999px;
    }
    footer div:last-child a{
        color: white;
    }
    footer div:last-child > a{
        border-bottom: 3px solid white;
        padding-bottom: 5px; font-size: 12px; display: block; margin-bottom: 10px;
    }
    footer div:last-child > a:first-child{
        margin-bottom: 20px;
    }
    footer div:last-child ul{
        list-style: none;
        margin-bottom: 20px; display: flex; justify-content: space-around;
    }
    footer div:last-child ul li{
        text-align: center;
    }
    /* footer div:last-child ul li:hover a{
        border-color:#62832b;
        transition: border 0.3s;
    }
    */
    footer div:last-child ul li a{
        font-size: 14px; padding-bottom: 10px;
        font-weight: 700;
        color: white;
        display: block;
        border-bottom: 3px solid white;
    }
    footer div:last-child ul li:nth-child(3),
    footer div:last-child ul li:nth-child(5){
        display: none;
    }
   
    /* main pages fin */

}
/* moblie fin */

@media screen and (min-width: 768px) and (max-width: 1279px) {

    
    .mainContainer .bx-wrapper  img{
        width: 100%; filter: brightness(0.8); 
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a{
        position: absolute; left: 3.3%; top: 350px;
        background-repeat: no-repeat; z-index: 1; 
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/leftarrow.png"); padding: 10px; color: white;
        background-color: transparent; border-radius: 50%; background-size: 20px;
        border-radius: 50%; border: 3px solid white; background-position: center;
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/rightarrow.png"); padding: 10px; color: white;
        background-color: transparent; border-radius: 50%; background-size: 20px;
        border-radius: 50%; border: 3px solid white; background-position: center;
        left: 11%;
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a{
        position: absolute; left: 3.3%; top: 280px;
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/leftarrow.png");
        padding: 10px; color: white; background-color: transparent;
        border-radius: 50%; background-size: 20px;
        border: 3px solid white; background-position: center;
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/rightarrow.png");
        padding: 10px;
        left: 85px; background-size: 20px; background-color: transparent;
        border: 3px solid white; border-radius: 50%; background-position: center;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction{
        position: absolute; top: 470px; left: 12%;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/arrow_back_ios_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; background-size: 30px; background-position: center;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/arrow_forward_ios_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; background-size: 30px; background-position: center;
        left: 110px;
    }
    /* side slide aroww fin */
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a{
        display: block; position: relative; left: 0; top: 0;
        background-position: center; 
    }
    .bx-wrapper .bx-pager{
        font-size: 20px; position: absolute; left: -28%; bottom:-12px;
    }
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction{
        display: block; position: absolute; right: 70px; top: 230px;
    }
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; padding: 15px; background-size: 30px;
        border: 1px solid #f2f2f2; border-radius: 50%; background-color: #f2f2f2;
        position: absolute; transform: rotate(180deg); text-indent: 9999px;
        position: absolute; left: -70px;
    } 
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/arrow_back_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; padding: 15px; background-size: 30px;
        border: 1px solid #f2f2f2; border-radius: 50%; background-color: #f2f2f2;
        transform: rotate(-180deg); text-indent: 9999px; 
        position: absolute; right: 0;
    }
    /* funnystory arrow fin */
    
    .mainPage{
        background: url('../images/footer_tablet.png') left bottom / contain no-repeat;
        width: 100%;
    }
    .subBG{
        background: url("../images/footer_bg_01.png") left bottom / contain no-repeat;
        width: 100%;
    }
    .guide{
        max-width: 720px; margin: 0 auto;
    }
    /* .Container{
        max-width: 720px; margin: 0 auto;
    } */
    .listContainer > *:not(.mainSliderBox){
        max-width: 720px; margin: 0 auto;
    }
    .detailContainer > *:not(:first-child){
        max-width: 720px; margin: 0 auto;
    }
    .loadMapContainer > *:not(:first-child){
        max-width: 720px; margin: 0 auto;
    }
    .top_menucontainer > *:not(:first-child){
        max-width: 720px; margin: 0 auto;
    }
    .allvideoContainer > *:not(:first-child){
        max-width: 720px; margin: 0 auto;
    }
    header,footer{
        max-width: 720px;
        position: relative;
        margin: 0 auto;
    }
    a{
        text-decoration: none;
    }
    #sitemapPanel{
        position: fixed; z-index: 10; 
        background: url("../images/brand_usa/backgroundimg") left top / cover no-repeat;
    }
    #sitemapPanel > div{
        padding: 30px 3.3%;
        background-color: black; opacity: 0.7;
    }
    #sitemapPanel h2{
        font-weight: 600; font-size: 40px;
        color: #fff;
        padding-bottom: 53px;
    }
    #sitemapPanel [type="button"]{
        position: absolute; right: -0; top: 25px;
        text-indent: -9999px; border: 1px solid white;
        border-radius: 23px; width: 44px;
        height: 44px;
        background: url("../images/close_FILL0_wght400_GRAD0_opsz24.png") center / 24px no-repeat #fff;
        background-repeat: no-repeat;
        margin-right: 15px;
    }
    #sitemapPanel div ul::after{
        content: ""; display: block; clear: both;
    }
    #sitemapPanel div ul{
       margin-bottom: 80px;
    }
    #sitemapPanel div ul li{
        float: left; width: 33%;
        padding-bottom: 85px;
    }
    /* #sitemapPanel div ul li:not(:last-child){
        margin-right: 9.72%;
    } */
    #sitemapPanel div ul li a{
        color: #fff; display: block;
        font-size: 25px; font-weight: 700;
        width: 100%;
    }
    header{
        position: fixed; width: 93.75%;
        left: 3.3%; padding: 30px 0;
        z-index: 1;
    }
    header h1{
        max-width: 75px;
        filter: drop-shadow(3px 2px 2px black);
    }
    header h1 a{
        display: block;
    }
    header h1 a img{
        width: 100%;
    }
    header nav{
        position: absolute;
        right: 0; top: 30px; 
        width: calc(100% - 75px);
    }
    header nav ul{
        text-align: right;
    }
    header nav ul li{
        display: inline-block;
    }
    /* header nav ul li:not(:last-child):hover{
        border-bottom: 3px solid #62832b;
        transition: border 0.3s;
    } */
    header nav ul li:not(:first-child){
        margin-left: 5.5%;
    }
    header nav ul li a{
        color: white;
        text-shadow: 3px 4px 2px black;   
    }
    header nav ul li input[type='button']{
        background-color: transparent; border: none; color: white;
        filter: drop-shadow(3px 2px 2px black);
    }

    footer{
        padding-bottom: 20px; max-width: 720px;
    }
    footer:after{
        content: ''; display: block; clear: both;
    }
    footer > div{
        width: 30%; float: left;
    }
    footer > a{
        position: absolute; right: 0; top: -30px;
        width: 44px; height: 44px;
        text-indent: -9999px;
        border: 1px solid white;
        border-radius: 23px;
        background: url("../images/arrow_upward_FILL0_wght400_GRAD0_opsz24.png") center / 24px no-repeat #fff;
    }
    footer > div h2{
        max-width: 180px;
        margin-bottom: 20px;
    }
    footer > div h2 img{
        width: 100%; 
    }
    footer > div > p{
        margin-bottom: 10px;
        font-family: 700;
        color: white;
        opacity: 0.5;
    }
    footer > div > p:first-of-type{
        font-size: 12px;
        line-height: 15px;
    }
    footer > div > p:last-of-type{
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 20px;
    }
    footer > div:first-of-type > a{
        display: inline-block; width: 100%; max-width: 40%; height: 40px; 
    }
    footer > div:first-of-type > a:first-of-type{
        background-image: url("../images/footer_google_play_badge.png");
        background-size: contain;
        background-repeat: no-repeat; text-indent: -9999px;
        padding-right: 2%;
    }
    footer > div:first-of-type > a:last-of-type{
        background-image: url("../images/footer_app_store.svg");
         background-size: contain;
        background-repeat: no-repeat; text-indent: -9999px;
    }
    footer div:last-child{
        text-align: right;
        width: 67%; 
    }
    footer div:last-child a{
        color: white;
    }
    footer div:last-child > a{
        border-bottom: 1px solid rgba(255,255,255,0.6);
        padding-bottom: 5px; font-size: 12px;
    }
    footer div:last-child > a:last-of-type{
        margin-left: 3.3%;
    }
    footer div:last-child ul{
        list-style: none;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    footer div:last-child ul li{
        display: inline-block;
        text-align: right;
    }
    /* footer div:last-child ul li:hover a{
        border-color:#62832b;
        transition: border 0.3s;
    } */
    footer div:last-child ul li a{
        font-size: 14px; padding-bottom: 10px;
        font-weight: 700;
        color: white;
        display: block;
        border-bottom: 3px solid white;
    }
    footer div:last-child ul li:not(:first-of-type){
        margin-left: 2%;
    }
   
    /* main pages fin */

}
/* tablet fin */

@media screen and (min-width: 1280px) {

    .mainContainer .bx-wrapper  img{
        width: 100%; filter: brightness(0.8); 
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a{
        position: absolute; left: 13%; top: 800px;
        background-repeat: no-repeat; z-index: 1; 
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev:hover,
        .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next:hover{
        border: 3px solid white; 
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/leftarrow.png"); padding: 30px; color: white;
        background-color: transparent; border-radius: 50%; background-size: 30px;
        border-radius: 50%; border: 3px solid rgba(255,255,255,0.22); background-position: center;
        transition: all 0.3s ease-in-out;
        
    }
    .mainContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/rightarrow.png"); padding: 30px; color: white;
        background-color: transparent; border-radius: 50%; background-size: 30px;
        border-radius: 50%; border: 3px solid rgba(255,255,255,0.22); background-position: center;
        left: 18.5%; transition: all 0.3s ease-in-out;
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a{
        position: absolute; left: 6.09%; top: 600px;
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/leftarrow.png");
        padding: 30px; color: white; background-color: transparent;
        border-radius: 50%; background-size: 30px;
        border: 5px solid white; background-position: center;
    }
    .listContainer .mainSliderBox .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/rightarrow.png");
        padding: 30px;
        left: 220px; background-size: 30px; background-color: transparent;
        border: 5px solid white; border-radius: 50%; background-position: center;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction{
        position: absolute; top: 700px; left: 10%; 
    }
    .bx-wrapper .bx-pager{
        font-size: 25px; position: absolute; left: -34%; bottom: -10.5%;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/arrow_back_ios_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; background-size: 30px; background-position: center;
    }
    .listContainer > div:nth-child(3) .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/arrow_forward_ios_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; background-size: 30px; background-position: center;
        left: 110px;
    }
    /* sideslide arrow fin */

    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a{
        display: block; position: relative; left: 0; top: 0;
        background-position: center;
    }
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a.bx-prev{
        background-image: url("../images/arrow_back_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; padding: 30px; background-size: 30px;
        border: 1px solid #f2f2f2; border-radius: 50%; background-color: #f2f2f2;
        position: absolute; left: -100px;
    } 
    .listContainer > div:nth-child(6) > .bx-wrapper .bx-controls-direction a.bx-next{
        background-image: url("../images/arrow_forward_24dp_FILL0_wght400_GRAD0_opsz24.png");
        background-repeat: no-repeat; padding: 30px; background-size: 30px;
        border: 1px solid #f2f2f2; border-radius: 50%; background-color: #f2f2f2;
        position: absolute; left: 0;        
    }
    /* funnystory arrow fin */
    .mainPage{
        background: url('../images/bg_footer.png') right bottom / contain no-repeat;
    }
    .subBG{
        background: url("../images/footer_bg_01.png") left bottom / contain no-repeat;
        width: 100%;
    }
    .guide{
        max-width: 1230px; margin: 0 auto;
    }
    .Container{
        max-width: 1680px; margin: 0 auto;
    }
    .listContainer > *:not(.mainSliderBox){
        max-width: 1230px; margin: 0 auto;
    }
    .detailContainer > *:not(:first-child){
        max-width: 1230px; margin: 0 auto;
    }
    .loadMapContainer > *:not(:first-child){
        max-width: 1230px; margin: 0 auto;
    }
    .top_menucontainer > *:not(:first-child){
        max-width: 1230px; margin: 0 auto;
    }
    .allvideoContainer > *:not(:first-child){
        max-width: 1230px; margin: 0 auto;
    }
    header,footer{
        max-width: 1680px;
        padding: 75px 0;
        position: relative;
    }
    a{
        text-decoration: none;
    }
    #sitemapPanel{
        position: fixed; z-index: 10; width: 100%;
        background: url("../images/brand_usa/backgroundimg") left top / cover no-repeat;
    }
    #sitemapPanel div{
        background-color: black; opacity: 0.7;
        padding: 30px 0;
    }
    #sitemapPanel h2{
        font-weight: 600; font-size: 50px;
        color: #fff;
        padding-bottom: 55px;
        margin-left: 110px; 
    }
    #sitemapPanel [type="button"]{
        position: absolute; right: 115px; top: 90px;
        text-indent: -9999px; border: 1px solid white;
        border-radius: 23px; width: 44px;
        height: 44px;
        background: url("../images/close_FILL0_wght400_GRAD0_opsz24.png") center / 24px no-repeat #fff;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    /* #sitemapPanel div ul::after{
        content: ""; display: block; clear: both;
    } */
    #sitemapPanel div ul{
        margin: 0 110px; 
        display: flex; flex-wrap: wrap;
    }
    #sitemapPanel div ul li{
        /* float: left; */width: 33%;
        /* padding-bottom: 150px; */
        margin-bottom: 150px;
    }
    #sitemapPanel div ul li a{
        color: #fff; display: block;
        font-size: 30px; font-weight: 700;
        width: 100%;
    }
    header{
        position: fixed; width: 87.5%;
        left: 6.25%;
        z-index: 1;
    }
    header h1{
        max-width: 125px;
        filter: drop-shadow(3px 2px 2px black);
    }
    header h1 a{
        display: block;
    }
    header h1 a img{
        width: 100%;
    }
    header nav{
        position: absolute;
        right: 0; top: 75px; 
        width: calc(100% - 125px);
    }
    header nav ul{
        text-align: right;
    }
    header nav ul li{
        display: inline-block;
        /* line-height: 67px; */
        padding: 25px 10px 10px 0;
    }
    header nav ul li:not(:last-child):hover{
        border-bottom: 5px solid #62832b;
        transition: border 0.3s;
    }
    header nav ul li:not(:first-child){
        margin-left: 5%;
    }
    header nav ul li a{
        color: white;
        text-shadow: 3px 4px 2px black;   
    }
    header nav ul li input[type='button']{
        background-color: transparent; border: none; color: white;
        filter: drop-shadow(3px 2px 2px black);
    }
    header nav ul li input[type='button']:hover{
        transform: scale(1.3); transition: transform 0.3s ease-in-out;
    }
    /* fin */
    footer{
        margin: 0 auto;
    }
    footer:after{
        content: ''; display: block; clear: both;
    }
    footer > div{
        width: 50%; float: left;
    } 
    footer > a{
        position: absolute; right: -5%; 
        width: 44px; height: 44px;
        text-indent: -9999px;
        border: 1px solid white;
        border-radius: 23px;
        background: url("../images/arrow_upward_FILL0_wght400_GRAD0_opsz24.png") center / 24px no-repeat #fff;
    }
    footer > div h2{
        max-width: 50%;
        margin-bottom: 20px;
    }
    footer > div h2 img{
        width: 100%; max-width: 180px;
    }
    footer > div > p{
        margin-bottom: 20px;
        font-family: 700;
        color: white;
        opacity: 0.5;
    }
    footer > div > p:first-of-type{
        font-size: 12px;
        line-height: 15px;
    }
    footer > div > p:last-of-type{
        margin-bottom: 60px;
        font-size: 14px;
        line-height: 20px;
    }
    footer > div:first-of-type > a{
        display: inline-block; width: 200px; height: 60px;
    }
    footer > div:first-of-type > a:first-of-type{
        background-image: url("../images/footer_google_play_badge.png");
        background-size: contain; height: 60px;
        background-repeat: no-repeat; text-indent: -9999px;
        padding-right: 2%;
    }
    footer > div:first-of-type > a:last-of-type{
        background-image: url("../images/footer_app_store.svg");
         background-size: contain; height: 60px; 
        background-repeat: no-repeat; text-indent: -9999px;
    }
    footer div:last-child{
        text-align: right;
    }
    footer div:last-child a{
        color: white;
    }
    footer div:last-child > a{
        border-bottom: 1px solid rgba(255,255,255,0.6);
        padding-bottom: 5px;
    }
    footer div:last-child > a:last-of-type{
        margin-left: 4.7%;
    }
    footer div:last-child ul{
        list-style: none;
        margin-bottom: 85px;
        padding-top: 85px;
    }
    footer div:last-child ul li{
        display: inline-block;
        text-align: right;
    }
    footer div:last-child ul li:hover a{
        border-color:#62832b;
        transition: border 0.3s;
    }
    footer div:last-child ul li a{
        font-size: 14px; padding-bottom: 10px;
        font-weight: 700;
        color: white;
        display: block;
        border-bottom: 3px solid white;
    }
    footer div:last-child ul li:not(:first-of-type){
        margin-left: 2%;
    }
   
    /* main pages fin */

}
/* desktop fin */